* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "GimpoGothicRegular00";
  }
  
  @font-face {
    font-family: "GimpoGothicRegular00";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/GimpoGothicRegular00.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
body {
    margin: 0;
    background-image: url("images/background.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Rajdhani", sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
}

.container {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-width: 800px;
    border-top: 10px solid blanchedalmond;
    border-bottom: 10px solid blanchedalmond;
    height: 100%;
    min-height: 100vh;
    
}
.input-area {
    position: relative;
}
.task-input {
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
    width: 80%;
    border: none;
    border: 1px solid blanchedalmond;
}
.task-input:focus {
    outline: none;
    border-bottom: 3px solid blanchedalmond;
    border-left: none;
    border-right: none;
    border-top: none;
    transition: 0.5s;
    padding-top: 35px;
}

.task-input + label > span {
    font-weight: 300;
    margin: 0;
    position: absolute;
    color: #8f8f8f;
    font-size: 14px;
    top: 6px;
    left: 10px;
    -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

.task-input:focus + label > span {
    top: 0px;
    color: #333;
}

.button-add {
    border: none;
    background-color: blanchedalmond;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
}
.button-add:hover {
    background-color: cadetblue;
}
.button-add:active {
    background-color: #f3f4f6;
    box-shadow: -1px 2px 5px rgba(81, 41, 10, 0.15),
        0px 1px 1px rgba(81, 41, 10, 0.15);
    transform: translateY(0.125rem);
}

.task-list-container {
    border: 1px solid lightgray;
    margin-top: 1em;
    margin-left: 4em;
    position: relative;
}
.tab-type {
    display: flex;
    border-bottom: 1px solid lightgray;
}

.tab-type div {
    padding: 1em;
    cursor: pointer;
}

#tab-underline {
    background-color: blanchedalmond;
    height: 4px !important;
    position: absolute;
    top: 52px;
    left: 0px;
    width: 48px;
    transition: 0.5s;
    padding: 0px;
}

.task {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid lightgray;
    position: relative;
}
.task span {
    padding: 1em;
}
.button-box {
    display: flex;
}

.button-box button {
    height: 100%;
    border: none;
    width: 5em;
    margin: 0;
    background-color: white;
    transition: 0.5s;
}
.button-box button :active {
    position: relative;
    top: 2px;
}

.button-box button:first-child:hover {
    background-color: greenyellow;
}
.button-box button:nth-child(2):hover {
    background-color: rgb(255, 0, 0, 0.3);
}

.fa-check {
    color: limegreen;
}

.fa-trash {
    color: red; 
}
.fa-undo-alt {
    color: lightslategray;
}

.task-done {
    text-decoration: line-through;
    background-color: lightgray;
    transition: 0.5s;
}

/*------날씨------*/

.weather {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    margin-bottom: 15px;
    border-radius: 8px;
    height: 140px;
    display: flex;
    justify-content: space-between;
}
.weather .weatherContent h2 {
    font-size: 24px;
    padding-bottom: 15px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}
.weather .weatherContent span {
    line-height: 30px;
    color: #2C3639;
    text-align: left;
}

/* ------------------------------------ */

.clock {
    /* min-width: 360px;
    margin: 0 auto;
    padding: 50px 0; */
    text-align: center;
    /* border: 1px solid rgba(255, 255, 255);
    border-radius: 10px; */
}

.today {
    margin-bottom: 10px;
}

.time {
    margin-top: 10px;
}


/*section 가로정렬하기*/
section {
    float: left;
    text-align: center;
    /* border: 2px solid #000; */
    /* width:100px; */
    /*height: 100px;
    line-height: 100px;
    font-weight: bold; */
    font-family: "Rajdhani", sans-serif;

}

/*기능 추가 컨테이너 (앞쪽거)*/
.container2 {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-width: 800px;
    border-top: 10px solid blanchedalmond;
    border-bottom: 10px solid blanchedalmond;
    height: 100%;
    min-height: 100vh;
}


.leftSec {
    height: 100%;
    width: 25%;
    margin: 0 15px 15px 0;

    font-family: "Rajdhani", sans-serif;
}

.rightSec {
    width: 100%;
    padding: 20px;
    margin: 0 15px 15px 0;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    height: 625px;

}

.whenContainer {
    font-family: "Rajdhani", sans-serif;
    flex-direction: column;
    border:1px solid blanchedalmond;
    padding-top: 10px;
    font-family: "GimpoGothicRegular00";
    /* padding: 40px;
    height: 180px;
    margin-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 8px;
        */
}



/*quote 명수옹 어록*/
.quote {
    border:1px solid blanchedalmond;
font-family: "Rajdhani", sans-serif;
padding: 20px;
background-color: rgba(255, 255, 255, 0.6);
border-radius: 8px;
display: flex;
height: 130px;
justify-content: space-between;
}
.quote .parkContent h2 {
font-size: 24px;
padding-bottom: 15px;
text-align: left;
}
.quote .parkContent h2 img {
width: 20px;
margin-left: 6px;
cursor: pointer;
}
.quote .parkContent .parkQuote {
padding-top: 8px;
text-align: center;
line-height: 20px;
color: #73777B;
}
.quote .parkImg {
overflow: hidden;
border-radius: 50%;
width: 22%;
margin-right: 5px;
}
.quote .parkImg img {
width: 100%;
height: 100%;
}


.clear-area {
    position: relative;
    left: -120px;
    top: 500px;
    text-align: center;
}

.allDelete {
    border: none;
    background-color: blanchedalmond;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
}


/*weather*/

.weather {
    border:1px solid blanchedalmond;
    margin-bottom: -100px;
    padding-top: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    margin-bottom: 15px;
    border-radius: 8px;
    height: 110px;
    display: flex;
    justify-content: space-between;
}
.weather .weatherContent h2 {
    font-size: 24px;
    padding-bottom: 15px;
    margin-top: -10px;
    margin-bottom: -10px;
}
.weather .weatherContent span {
    line-height: 30px;
    color: #2C3639;
    text-align: center;
}
.weather .weatherImg {
    width: 25%;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin-top: 1rem;
}
.weather .weatherImg img {
    width: 85%;
    height: 85%;
    margin-top: -25px;
}

/*안녕하세요, ~님*/
.intro {
    /* border:1px solid blanchedalmond; */
    margin-top: 7%;
}


/*mood css*/
/*css*/
.mood {
    /* border:1px solid blanchedalmond; */
    margin-top: 0px;
}

.mood.showing {
    visibility: visible;
    background-color: #2d384db2;
    position: relative;
    margin: 20px;
    width: 450px;
    max-width: 95vw;
    height: 670px;
    opacity: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    vertical-align: middle;
    border: 1px solid #bdccee;
    border-radius: 50px;
    box-shadow: inset 0 0 4px 4px #bdccee;
    transition: width 1s 0.5s, border 1s 0.5s, opacity 1s 1s;
}

.mood .btns {
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding: 40px 0;
}

.mood button {
    padding: 0;
    margin: 3px;
    display: flex;
    flex-flow: column;
    cursor: pointer;
    border: 1px solid transparent;
    margin-top: -40px;
    margin-bottom: 10px;
}

.mood button:hover {
    border: 1px solid #ffffff;
}

.mood button img {
    width: 15vw;
    height: 10vh;
    max-width: 60px;
    max-height: 65px;
}

.mood .text {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 10px;
    line-height: 26px;
    padding: 70px 0 70px 0;
    margin-top: -30px;
}

.mood .text.showing {
    height: 150px;
    transition: height 0.5s;
}