* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "GimpoGothicRegular00";
    /* background-image: url("겨울.png"); */
}

@font-face {
    font-family: "GimpoGothicRegular00";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/GimpoGothicRegular00.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    background-color: rgb(255, 249, 240);
    /* background-image: url("겨울.png"); */
    background-image: "https://g-grafolio.pstatic.net/20211219_121/1639889179888IVLwI_PNG/%B4%AB%C6%E3%C6%E3%BE%C6%C0%CC%BD%BA%B8%B5%C5%A9_mouun.png";
    background-repeat: no-repeat;
    background-size: cover;
    /* font-family: "Rajdhani", sans-serif; */
    align-items: center;
    justify-content: center;
    display: flex;
    /* background-image: url("images/background.webp"); */
    /* width: 100%;
    height: 100%; */
}

.container {
    background-color: rgb(255, 255, 255);
    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-width: 800px;
    border-top: 10px solid blanchedalmond;
    border-bottom: 10px solid blanchedalmond;
    height: 100%;
    min-height: 100vh;

    width: 1000p;
}
.input-area {
    position: relative;
}
.task-input {
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
    width: 80%;
    border: none;
    border: 1px solid blanchedalmond;
}
.task-input:focus {
    outline: none;
    border-bottom: 3px solid blanchedalmond;
    border-left: none;
    border-right: none;
    border-top: none;
    transition: 0.5s;
    padding-top: 35px;
}

.task-input + label > span {
    font-weight: 300;
    margin: 0;
    position: absolute;
    color: #8f8f8f;
    font-size: 14px;
    top: 6px;
    left: 10px;
    -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

.task-input:focus + label > span {
    top: 0px;
    color: #333;
}

.button-add {
    border: none;
    background-color: blanchedalmond;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;

    border: 0;
    /* box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px; */
    box-sizing: border-box;
    /* color: #FFFFFF; */
    line-height: 1em;
    border-radius: 6px;
    padding: 5px;
    transition: 300ms;
    height: 25px;
    width: 25px;
    line-height: 21px;
    cursor: -webkit-grab;
    cursor: grab;
}
.button-add:hover {
    background-color: rgb(255, 212, 85);
}
.button-add:active {
    background-color: #f3f4f6;
    box-shadow: -1px 2px 5px rgba(81, 41, 10, 0.15),
        0px 1px 1px rgba(81, 41, 10, 0.15);
    transform: translateY(0.125rem);
}

.task-list-container {
    border: 1px solid lightgray;
    margin-top: 1em;
    margin-left: 4em;
    position: relative;
}
.tab-type {
    display: flex;
    border-bottom: 1px solid lightgray;
}

.tab-type div {
    padding: 1em;
    cursor: pointer;
}

#tab-underline {
    background-color: blanchedalmond;
    height: 4px !important;
    position: absolute;
    top: 52px;
    left: 0px;
    width: 48px;
    transition: 0.5s;
    padding: 0px;
}

.task {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid lightgray;
    position: relative;
    
}
.task span {
    padding: 1em;
    /* width: 90%; */
}
.button-box {
    display: flex;
}

.button-box button {
    height: 100%;
    border: none;
    width: 5em;
    margin: 0;
    background-color: white;
    transition: 0.5s;
}
.button-box button :active {
    position: relative;
    top: 2px;
}

/* .button-box button:first-child:hover {
    background-color: greenyellow;
}
.button-box button:nth-child(2):hover {
    background-color: rgb(255, 0, 0, 0.3);
} */

.fa-check {
    color: limegreen;
}

.fa-trash {
    color: red;
}
.fa-undo-alt {
    color: lightslategray;
}

.task-done {
    text-decoration: line-through;
    background-color: lightgray;
    transition: 0.5s;
}

/*------날씨------*/

.weather {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    margin-bottom: 15px;
    border-radius: 8px;
    height: 140px;
    display: flex;
    justify-content: space-between;
}
.weather .weatherContent h2 {
    font-size: 24px;
    padding-bottom: 15px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}
.weather .weatherContent span {
    line-height: 30px;
    color: #2C3639;
    text-align: left;
}

/* ------------------------------------ */

.clock {
    /* min-width: 360px;
    margin: 0 auto;
    padding: 50px 0; */
    text-align: center;
    /* border: 1px solid rgba(255, 255, 255);
    border-radius: 10px; */
}

.today {
    margin-bottom: 10px;
}

.time {
    margin-top: 10px;
}


/*section 가로정렬하기*/
section {
    float: left;
    text-align: center;
    /* border: 2px solid #000; */
    /* width:100px; */
    /*height: 100px;
    line-height: 100px;
    font-weight: bold; */
    font-family: "Rajdhani", sans-serif;

}

/*기능 추가 컨테이너 (앞쪽거)*/
.container2 {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-width: 800px;
    border-top: 10px solid blanchedalmond;
    border-bottom: 10px solid blanchedalmond;
    height: 100%;
    min-height: 100vh;
}


.leftSec {
    height: 100%;
    width: 25%;
    margin: 0 15px 15px 0;
    border-radius: 8px;
    font-family: "Rajdhani", sans-serif;
}

.rightSec {
    width: 100%;
    padding: 20px;
    margin: 0 15px 15px 0;
    /* background-color: rgba(255, 255, 255, 0.6); */
    border-radius: 8px;
    height: 625px;

}

.whenContainer {
    font-family: "Rajdhani", sans-serif;
    flex-direction: column;
    border:1px solid blanchedalmond;
    padding-top: 10px;
    font-family: "GimpoGothicRegular00";
    /* padding: 40px;
    height: 180px;
    margin-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 8px;
        */
}



/*quote 명수옹 어록*/
.quote {
    border:1px solid blanchedalmond;
font-family: "Rajdhani", sans-serif;
padding: 20px;
background-color: rgba(255, 255, 255, 0.6);
border-radius: 8px;
display: flex;
height: 130px;
justify-content: space-between;
}
.quote .parkContent h2 {
font-size: 24px;
padding-bottom: 15px;
text-align: left;
}
.quote .parkContent h2 img {
width: 20px;
margin-left: 6px;
cursor: pointer;
}
.quote .parkContent .parkQuote {
padding-top: 8px;
text-align: center;
line-height: 20px;
color: #73777B;
}
.quote .parkImg {
overflow: hidden;
border-radius: 50%;
width: 22%;
margin-right: 5px;
}
.quote .parkImg img {
width: 100%;
height: 100%;
}


.clear-area {
    display: flex;
    position: relative;
    left: -450px;
    top: 320px;
    text-align: center;
}

.allDelete {
    border: none;
    background-color: blanchedalmond;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;

    border: 0;
    /* box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px; */
    box-sizing: border-box;
    /* color: #FFFFFF; */
    line-height: 1em;
    border-radius: 6px;
    padding: 10px;
    transition: 300ms;
    height: 30px;
    line-height: 21px;
    cursor: -webkit-grab;
    cursor: grab;
}


/*weather*/

.weather {
    border:1px solid blanchedalmond;
    margin-bottom: -100px;
    padding-top: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    margin-bottom: 15px;
    border-radius: 8px;
    height: 110px;
    display: flex;
    justify-content: space-between;
}
.weather .weatherContent h2 {
    font-size: 24px;
    padding-bottom: 15px;
    margin-top: -10px;
    margin-bottom: -10px;
}
.weather .weatherContent span {
    line-height: 30px;
    color: #2C3639;
    text-align: center;
}
.weather .weatherImg {
    width: 25%;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin-top: 1rem;
}
.weather .weatherImg img {
    width: 85%;
    height: 85%;
    margin-top: -25px;
}

/*안녕하세요, ~님*/
.intro {
    /* border:1px solid blanchedalmond; */
    margin-top: 7%;
}

.leftSec .intro {
    padding: 10px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.6);
    margin-bottom: 15px;
    border-radius: 8px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
  }
  .leftSec .intro h2 {
    margin-top: 7px;
    font-size: 18px;
    margin-right: -20px;
  }
  /* .leftSec .intro .userImg {
    width: 18%;
    margin-right: 15px;
  }
  .leftSec .intro .userImg img {
    width: 100%;
    height: 100%;
  } */
  .leftSec .intro .logout {
    margin-left: -15px;
    margin-right: 20px;
    /* background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB); */
    background-color: blanchedalmond;
    border: 0;
    /* box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px; */
    box-sizing: border-box;
    /* color: #FFFFFF; */
    line-height: 1em;
    border-radius: 6px;
    padding: 10px;
    transition: 300ms;
    height: 30px;
    line-height: 21px;
    cursor: -webkit-grab;
    cursor: grab;

    margin-bottom: 10px;
    font-family: "GimpoGothicRegular00";
  }
  .leftSec .intro .logout :active,
  .leftSec .intro .logout :hover {
    outline: none;
  }
  .leftSec .intro .logout :hover span {
    background: none;
  }

/* 하트버튼 */
.container_ {
	/* text-align: center; */
    display: flex;
	justify-content:left;
	font-size: 15pt;
	font-family: 'arial';
    margin-left: 13px;
	margin-top: 14px;
    margin-right: 10px;
}

/* .far {

} */

.fas {
	color: red;
}

.heart {
	cursor: pointer;
}

.pulse {
	animation: pulse .5s;
} 

/* @keyframes 
.pulse {
	0% {transform: scale(1); }
	100% {transform: scale(1);}
	100% {transform: scale(1);}
} */

/* 여기까지 하트 버튼 css */

.task-list-container {
    overflow: scroll;
    /* border:solid 1px green; */
    height: 450px;
    /* width: 200px; */
}